<footer class="mt-5 pt-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="tagsFooter" href="">Quienes somos</a>
        </div>
        <div class="col">
          <a class="tagsFooter" href="">Centro de ayuda</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="tagsFooter" href="">Contacto</a>
        </div>
        <div class="col">
          <a class="tagsFooter" href="">Declaración de privacidad</a>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center mt-5 pt-4 border-top">
        <div class="tagsFooter">Copyrigth © Equipo 1 EPM 2021</div>
        <ul class="ftco-footer-social p-0">
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</html>
