<footer class="mt-5 pt-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="">legal</a>
        </div>
        <div class="col">
          <a href="">Quienes somos</a>
        </div>
        <div class="col">
          <a href="">Centro de Ayuda</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="">Contacto</a>
        </div>
        <div class="col">
          <a href="">declaracion de privacidad</a>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto">Copyrigth © Equipo 1 EPM 2021</div>
      </div>
    </div>
  </footer>
</html>
