<footer class="mt-5 pt-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="tagsFooter" href="">Quienes somos</a>
        </div>
        <div class="col">
          <a class="tagsFooter" href="">Centro de ayuda</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="tagsFooter" href="">Contacto</a>
        </div>
        <div class="col">
          <a class="tagsFooter" href="">Declaración de privacidad</a>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto">Copyrigth © Equipo 1 EPM 2021</div>
      </div>
    </div>
  </footer>
</html>
