<!--offcanvas-->
<div
class="offcanvas offcanvas-start"
tabindex="-1"
id="offcanvasExample"
aria-labelledby="offcanvasExampleLabel"
>
<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasExampleLabel">¡Bienvenido <%= locals.isLogged ? locals.userLogged.firstName : 'Invitado' %>!</h5>
  <button
    type="button"
    class="btn-close text-reset"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
  ></button>
</div>
<div class="offcanvas-body">
  <div class="list-group list-group-flush">
    <% if (locals.isLogged && locals.userLogged.rol == "administrador") { %>
      <a href="/user/manage" class="list-group-item list-group-item-action">Administrar usuarios</a>
      <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
    <% } else { %>
      <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
    <% } %>
  </div>
</div>
</div>
<!--fin offcanvas-->