<% if (locals.notification && notification.activo == 1) { %>
  <div class="position-fixed top-100 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast <%= notification.tipo %> text-white" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Confirmación de <%= notification.accion %> de <%= notification.elemento %></strong>
        <small>Hace unos segundos</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
          <%= notification.nombre //name.charAt(0).toUpperCase() + name.slice(1) %>  añadido correctamente
      </div>
    </div>
  </div>
<% } %>