* {
    word-break: break-word; /* Check to see how this works */
}

:root{
    --primario: #36981E;
    --complementario: #4D003C;
    --complementario-dividido:#991F7F;
    --compuesto: #97A619;
    --neutro1:#F1F1F1;
    --neutro2:#666666;
    --neutro3:#242424;
    --neutro4:#ffffffb4;
}
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
footer{
    background-color: #242424e1;
    color: var(--neutro1);
}
img {
    max-width: 100%;
    max-height: 100%;
}
a:link{
    color:var(--primario);
}
a:active{
    color:var(--complementario-dividido);
}
::placeholder {
    color: var(--neutro4);
  }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.logo-navbar{
    width: 3em;
}
.navbar{
    background-color: var(--primario);
}
.navbar-toggler{
    border: none;
    background-color: transparent;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.navbar-toggler:hover .men{
    color: var(--neutro1);
}
.boton-hamburguesa{
    border: none;
    background-color: transparent;
}
.boton-hamburguesa i{
    color: var(--neutro4);
    font-size: 1.5em;
    transition: 0.3s;
}
.boton-hamburguesa:hover .ham{
    color: var(--neutro1);
}
.barra-de-busqueda{
    border: none;
    border-bottom: var(--neutro4) solid 2px;
    background-color: transparent;
    transition: 0.4s;
    color: var(--neutro1);
}
.barra-de-busqueda:focus{
    border: none;
    border-bottom: var(--neutro1) solid 2.2px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    caret-color: var(--complementario-dividido);
}
.boton-busqueda{
    border: none;
    background-color: transparent;
}
.boton-busqueda i{
    color: var(--neutro4);
    transition: 0.2s;
}
.boton-busqueda:hover .busq{
    color: var(--neutro1);
}
.boton-flex{
    width: 100%;
}
.boton-vacio{
    border: none;
    background-color: transparent;
}
.boton-producto{
    width: 14vw;
    height: 14vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    border: 6px;
}
.boton-producto:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.527);
}
.producto-linea{
    border: 1px solid black;
    border-radius: 6px;
}
/* For animation */
.carrito-producto{
    max-width: 100%;
    font-size: 20px;
    transition: transform 0.5s;
    color: black;
}
.carrito-producto:hover{
    transform: rotate(90deg);
}

.titulo-producto{
    text-align: start;
    font-size: 1em;
}
.titulo-producto-modal{
    text-align: start;
    font-size: 1em;
    color: var(--neutro1);
}
.precio-producto{
    font-size: 1.3em;
    color: var(--compuesto);
    margin-right: 0.3em;
    font-weight: bold;
}
.etiqueta-producto{
    font-size: 0.7em;
    border-radius: 10px;
    background-color: var(--complementario);
    color: var(--neutro1);
    margin: 0.2em;
    margin-left: 0.3em;
    transition: 0.2s;
    border: none;
}
.etiqueta-producto:focus{
    outline: none;
    box-shadow: none;
    border: none;
    color: var(--compuesto);
}
.etiqueta-producto:hover{
    background-color: var(--complementario-dividido);
}
.modal-producto{
    border-radius: 6x;
    background-color: #242424d7;
}
.carrusel-producto{
    border-radius: 6px;
    border: none;
    width: 100%;
    /*height: 50vw;*/
    background-color: white;
}
.carrusel-producto img{
    margin-left: auto;
  margin-right: auto;
    height: 100%;
}
.form-estandar{
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1.7px solid var(--primario);
    transition: 0.3s;
}
.form-estandar:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid var(--complementario-dividido);
}
.check-box{
    background-color: var(--neutro1);
    border-radius: 6px;
}
.check-box:checked{
    outline: none;
    box-shadow: none;
    background-color: var(--primario);
}
.boton-estandar{
    border: none;
    background-color: var(--primario);
    border-radius: 6px;
    color:var(--neutro1);
    transition: 0.3s;
    padding: 8px;
}
.boton-estandar:hover{
    background-color: var(--complementario-dividido);
}
.boton-estandar:focus{
    outline: none;
    box-shadow: none;
}
.boton-secundario{
    border-radius: 6px;
    background-color: white;
    border: solid 3px var(--primario);
    color: var(--primario);
    padding: 8px;
    transition: 0.3s;
}
.boton-secundario:hover{
    background-color: var(--complementario-dividido);
    border: solid 3px var(--complementario-dividido);
    color: white;
}
.boton-secundario:focus{
    outline: none;
    box-shadow: none;
}
footer div div div a{
    color: white;
}
footer div div div a:hover{
    color: var(--complementario-dividido);
}

/*footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}*/

.characteristicsModal {
    font-weight: bold;
}

.descriptionModal, .characteristicsModal, .listModal {
    color: white;
}

.boton-estandar, .boton-secundario {
    max-width: 200px;
}

.center {
    text-align: center;
}

.checked {
    color: orange;
}

.unchecked {
    color: white;
}

.upper {
    padding: 0 16px;
}

.down {
    padding-bottom: 0;
}

.carrito-producto-modal {
    color: white;
    font-size: 30px;
    transition: transform 0.5s;
}
.carrito-producto-modal:hover{
    transform: rotate(90deg);
}

/* For exiting the modal x */
/* Check why this is not loading from Bootstrap */
/* Also JS missing to be able to close it */
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: white;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:hover {
    color: #F1F1F1;
    text-decoration: none;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    opacity: .75;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}

a.close.disabled {
    pointer-events: none;
}

/* For making shopping cart Mobile First */
.scHeader, .priceBreakdown {
    font-size: 12px;
    font-weight: bold;
}

/* For highlighting total in shopping cart */
.total {
    color: #97A619;
    font-size: 16px;
}

/* For increase/decrease buttons in shopping cart */
/* Obtained from https://codepen.io/mtbroomell/pen/yNwwdv*/
.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40%;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

.decrease {
    border-radius: 8px 0 0 8px;
}

.increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

#input-wrap {
    margin: 0px;
    padding: 0px;
}

input.number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40%;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For footer */
.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

/* For breadcrumb */
.personal {
    font-size: 12px;
}

/* For not showing bullets in lists */
.caracteristicas li {
    list-style-type: none;
}

.caracteristicas {
    margin-left: 0;
    padding-left: 0;
}

/* For product details page */
.anchorFormat {
    text-decoration: none;
    text-align: center;
    color: white!important;
    font-weight: bold;
}

.editButton {
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}

.deleteButton {
    background-color: #dc3545!important;
    border-color: #dc3545!important;
}

/* For profile page */
.profile-details {
    padding-top: 20px;
}

/* For toast */
.topCorner {
    top: 100px;
}

.text-white {
    font-weight: bold;
}

.text-danger {
    font-weight: bold;
}

.modal-title {
    font-weight: bold;
}

/* For shopping cart */
.noUnderline {
    text-decoration: none;
    color: white!important;
}

/* For contact form */
/* Set the size of the div element that contains the map */
#map {
    height: 300px;
    width: 100%;
    /* The width is the width of the web page */
}

/* For about us section */
.aboutus-section {
    padding: 20px 0;
}

.aboutus-title {
    letter-spacing: 0;
    padding: 0 0 11px;
    position: relative;
}

.aboutus-title::after {
    background: #36981E none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.imgPad {
    padding: 0;
}

.left-text-pad {
    padding-left: 0;
    padding-right: 50px;
}

.right-text-pad {
    padding-right: 0;
    padding-left: 50px;
}

.aboutus-text {
    margin: 0 0 35px;
    text-align: justify;
}

.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .iconset::after {
    background: #36981E none repeat scroll 0 0;
    content: "";
    height: 235%;
    left: 47.5%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature {
    padding-top: 20px;
}

.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    padding-top: 20px;
    width: 78%;
}

.feature .feature-box .feature-content h4 {
    letter-spacing: 0;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
    text-align: justify;
}

.icon {
    color : #36981E;
    padding:0px;
    font-size:40px;
    border: 1px solid #36981E;
    border-radius: 100px;
    color: #36981E;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

/* For shopping cart number */
.cart-basket {
    font-size: 0.8rem;
    position: absolute;
    top: 119px;
    left: 22px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #4D003C;
    border-radius: 50%;
    font-weight: bold;
    padding-bottom: 1px;
}

/* For ordering wishlist */
.flexChange {
    flex-direction: column;
    justify-content: center!important;
}

/* For compatibility purposes */
@media (min-width: 576px) {
    /* For about us section */
    .feature .feature-box .iconset::after {
        left: 36%;
        height: 150%;
    }
}

@media (min-width: 768px) {
    /* For home page */
    .tc {
        font-size: 40px;
    }
    
    .precio-producto {
        font-size: 22px;
    }

    .slogan {
        font-size: 20px;
    }

    .carrito-producto {
        font-size: 26px;
    }

    .catDes {
        font-size: 28px;
    }

    .titulo-producto {
        font-size: 20px;
        margin-left: 60px; /* Verificar para mejorar implementación*/
    }

    .row {
        --bs-gutter-x: 100px;
    }

    .etiqueta-producto {
        font-size: 16px;
    }

    .description {
        font-size: 18px;
        margin-left: 60px;
    }

    /* For modal */
    .modal-dialog {
        max-width: 700px;
    }

    .modal-dialog-centered {
        min-height: fit-content;
    }

    .titulo-producto-modal {
        font-size: 20px;
    }

    .characteristicsModal {
        font-weight: bold;
    }

    .listModal {
        font-size: 14px;
    }

    .descriptionModal {
        font-size: 16px;
    }

    .descriptionModal, .characteristicsModal, .listModal {
        color: white;
    }

    .modal-body {
        font-size: 16px;
    }

    .modal-title {
        font-size: 20px;
    }

    /* For header */
    .navbar-nav {
        font-size: 20px;
    }

    .logo-navbar {
        font-size: 25px;
    }
    
    /* For footer */
    .tagsFooter, .col-auto {
        font-size: 20px;
    }

    .ftco-footer-social li {
        font-size: 26px;
    }

    /* For forms */

    form div div label, .form-estandar, .boton-estandar, .boton-secundario {
        font-size: 20px;
    }

    .boton-estandar, .boton-secundario {
        max-width: 300px;
    }

    .center {
        text-align: center;
    }

    .standarSize {
        font-size: 18px;
    }

    .text-danger {
        font-size: 16px;
    }

    /* For shopping cart */
    .scHeader, .priceBreakdown {
        font-size: 18px;
    }

    .total div {
        font-size: 22px;
    }

    input.number, .value-button {
        max-width: 40px;
    }

    .justify-content-between.itemNumber {
        justify-content: center!important;
    }

    /* For breadcrumb */
    .personal {
        font-size: 16px;
    }

    /* For profile page */
    .profile-details {
        font-size: 18px;
    }
    
    /* For toast */
    .toast {
        font-size: 1rem;
    }

    /* For contact form */
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        width: 100%;
        /* The width is the width of the web page */
    }

    /* For about us section */
    .aboutus-title {
        font-size: 40px;
    }

    .aboutus-title::after {
        height: 3px;
    }

    .aboutus-text {
        font-size: 18px;
    }

    .feature .feature-box .iconset::after {
        left: 27.5%;
    }

    .feature .feature-box .feature-content h4 {
        font-size: 22px;
    }

    .feature .feature-box .feature-content p {
        font-size: 18px;
    }

    .icon {
        font-size: 32px;
    }

    .aboutus-banner img {
        height: 550px;
    }

    /* For shopping cart number */
    .cart-basket {
        position: absolute;
        top: 150px;
        left: 24px;
        width: 18px;
        height: 18px;
        padding-bottom: 2px;
    }

    /* For ordering wishlist */
    .flexChange {
        flex-direction: row;
        justify-content: space-between!important;
    }

    .flexNoCenter {
        display: block!important;
        /*justify-content:space-between!important;*/
    }
}

/* For compatibility purposes */
@media (min-width: 992px) {
    #navbarNav {
        height: 80px;
    }

    /* For breadcrumb */
    .personal {
        margin-left: 43px;
    }

    /* For contact form */
    /* Set the size of the div element that contains the map */
    #map {
        height: 500px;
        width: 100%;
        /* The width is the width of the web page */
    }

    /* For about us section */
    .feature .feature-box .iconset::after {
        left: 60%;
        height: 266%;
    }

    /* For shopping cart number */
    .cart-basket {
        font-size: 0.9rem;
        position: absolute;
        top: 26px;
        left: auto;
        right: 230px;
        width: 18px;
        height: 18px;
        padding-bottom: 2px;
    }
}

/* For computers*/
@media (min-width: 1200px){
    /* For home page */
    .tc {
        font-size: 48px;
    }

    .precio-producto {
        font-size: 26px;
    }
    
    .slogan {
        font-size: 24px;
    }

    .carrito-producto {
        font-size: 30px;
    }

    .catDes {
        font-size: 32px;
    }

    .titulo-producto {
        font-size: 24px;
        margin-left: 0px;  /*Verificar para mejorar implementación*/
    }

    .row {
        --bs-gutter-x: 150px;
    }

    .etiqueta-producto {
        font-size: 16px;
    }

    .description {
        font-size: 20px;
        margin-left: 70px;
    }

    /* For header */
    #navbarNav {
        height: 80px;
    }

    .navbar-nav {
        font-size: 24px;
        padding-right: 1.5em;
        align-items: center;
    }

    .logo-navbar {
        font-size: 35px;
    }

    .dropdown {
        margin-right: 50px; /* Think of better implementation */
    }

    /* For modal */

    .titulo-producto-modal {
        font-size: 24px;
    }

    .modal {
        width: 100%;
        height: 85%;
    }

    .characteristicsModal {
        font-weight: bold;
    }

    .listModal {
        font-size: 18px;
    }

    .descriptionModal, .characteristicsModal, .listModal {
        color: white;
    }

    .modal-body {
        font-size: 18px;
    }

    .modal-title {
        font-size: 22px;
    }
    
    /* For footer */
    .tagsFooter, .col-auto {
        font-size: 20px;
    }

    .ftco-footer-social li {
        font-size: 30px;
    }

    /* For forms */

    form div div label, .form-estandar, .boton-estandar, .boton.boton-secundario {
        font-size: 24px;
    }

    .boton-estandar, .boton-secundario {
        max-width: 500px;
    }

    .center {
        text-align: center;
    }

    .standarSize {
        font-size: 20px;
    }

    .text-danger {
        font-size: 20px;
    }

    /* For shopping cart */
    .scHeader, .priceBreakdown {
        font-size: 22px;
    }

    .total div {
        font-size: 26px;
    }

    input.number, .value-button {
        max-width: 40px;
    }

    .justify-content-between.itemNumber {
        justify-content:center!important;
    }

    /* For breadcrumb */
    .personal {
        margin-left: 55px;
        font-size: 18px;
    }

    .pushLeft nav ol {
        margin-left: 0px;
        font-size: 18px;
    }

    /* For product details page */
    .descripcion {
        font-size: 20px;
    }

    .unchecked2 {
        color: black;
    }

    .descSide {
        font-size: 18px;
    }

    .up {
        margin-top: -10px;
    }

    .centerCheck {
        margin-top: 0.57em!important;
    }

    .adjust-check {
        padding-left: 20.4em;
        margin-top: 1.5em;
    }

    /* For profile page */
    .profile-details {
        font-size: 22px;
    }

    /* For toast */
    .toast {
        font-size: 1.25rem;
    }

    /* For contact form */
    /* Set the size of the div element that contains the map */
    #map {
        height: 550px;
        width: 100%;
        /* The width is the width of the web page */
    }

    /* For about us section */
    .aboutus-title {
        font-size: 48px;
    }

    .aboutus-title::after {
        height: 4px;
    }

    .aboutus-text {
        font-size: 20px;
    }

    .feature .feature-box .iconset::after {
        left: 37%;
        height: 258%;
    }

    .feature .feature-box .feature-content h4 {
        font-size: 24px;
    }

    .feature .feature-box .feature-content p {
        font-size: 20px;
    }

    .icon {
        font-size:40px;
    }

    /* For shopping cart number */
    .cart-basket {
        font-size: 1.1rem;
        position: absolute;
        top: 22px;
        right: 345px;
        width: 20px;
        height: 20px;
    }
}

/* For compatibility purposes */
@media (min-width: 1650px){
    .titulo-producto {
        margin-left: 70px; /* Verificar para mejorar implementación*/
    }
}