h1{
    margin-top: 1em;
}
h3{
    margin-top: 1em;
    font-size: 14px;
}
h4{
    font-size: 1em;
    color: var(--complementario-dividido);
}
.tc{
    text-align: center;
}
.sh{
    border: tomato solid 0.5px;
    margin:0.5px;
}
.cuadro-deportes{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: var(--complementario-dividido) solid 1.5px;
    border-radius: 6px;
    margin-bottom: 3em;
}