<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Simple HttpErrorPages | MIT License | https://github.com/HttpErrorPages -->
    <meta charset="utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge" /><meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Houston, tenemos un problema | 404 - Recurso no encontrado</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="cover"><h1>Recurso no encontrado <small>404</small></h1><p class="lead">El recurso solicitado no pudo ser encontrado, pero puede que vuelva a estar disponible en el futuro.</p></div>
    
</body>
</html>