<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,200&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/base.css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <button class="boton-hamburguesa" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="ham fas fa-bars"></i>
            </button>
            <a href="/">
                <img src="assets\logo\Asset 3.png" class="logo-navbar ms-2" alt="Logo EPM">
            </a>
            <button class="navbar-toggler boton-hambuerguesa" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="men fas fa-angle-double-down"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                    <form class="d-flex" method="post" action="/searchresult">
                        <!--Form Busqueda Navbar-->
                        <input name="userQuery" class="barra-de-busqueda me-2" type="search" placeholder="Busqueda" aria-label="Search">
                        <button class="boton-busqueda" type="submit">
                            <i class="busq fas fa-search"></i>
                        </button>
                    </form>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/register">Registrate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Ingresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppingcart">
                            <i class="fas fa-shopping-cart">
                            </i>
                        </a>
                    </li>
                    <li class="nav-item dropdown dropstart ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fab fa-jedi-order"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
                            <li><a class="dropdown-item" href="/purchases">Pedidos</a></li>
                            <li><a class="dropdown-item" href="/whishlist">Lista de Deseos</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Fin del navbar-->
    <!--offcanvas-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images,
                lists, etc.
            </div>
        </div>
    </div>
    <!--fin offcanvas-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-auto mt-3">
                        <h1 class="tc">Registro</h1>
                    </div>
                </div>
                <form action="/register" method="post">
                    <div class="row justify-content-center mt-3">
                        <div class="col-11">
                            <label for="nombre">
                                Nombre
                            </label>
                        </div>
                        <div class="col-11">
                            <input type="text" class="form-estandar" name="nombre"  id="nombre" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-11">
                            <label for="apellido">
                                Apellido
                            </label>
                        </div>
                        <div class="col-11">
                            <input type="text" class="form-estandar" name="apellido" id="apellido" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-11">
                            <label for="email">
                                E-mail
                            </label>
                        </div>
                        <div class="col-11">
                            <input type="email" class="form-estandar" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-11">
                            <label for="contrasena">
                                Contraseña
                            </label>
                        </div>
                        <div class="col-11">
                            <input type="password" class="form-estandar" name="contrasena" id="contrasena" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-11">
                            <label for="confirmarcontrasena">
                                Confirme Contraseña
                            </label>
                        </div>
                        <div class="col-11">
                            <input type="password" class="form-estandar" name="confirmarcontrasena" id="confirmarcontrasena" required>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-11">
                            <div class="form-check">
                                <input class="form-check-input check-box" type="checkbox" value="" id="check-privacidad" required>
                                <label class="form-check-label" for="check-privacidad">
                                    <p>Declaro que soy mayor de edad, acepto los Términos y 
                                        Condiciones  y autorizo el uso de mis datos de acuerdo 
                                        a la <a href="/privacy">Declaración de Privacidad</a></p>
                                </label>
                              </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="submit" class="boton-estandar">
                                Registrarse
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>